*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins' , sans-serif;
    user-select: none;
}
.container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.title{
    color: #6C63FF;
    text-align: center;
}
.content{
    text-align: center;
}
.content .message{
    
    color: #17202A ;
   
}

.content .email{
    padding: 20px;
    width: 60%;
}

@media(max-width:630px){
    .title {
        font-size: 1rem;

    }
    .message{
        font-size: 0.6rem;
    }
}
